.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.center .row {
    display: flex;
    margin: auto;
}

.shortened {
    padding: 100px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}