.Links {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Links #copy-notify {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    user-select: none;
}

.Links .search {
    padding: 10px;
}

.Links .search input {
    padding: 10px;
    width: 300px;
}

.Links .table {
    display: flex;
    justify-content: center;
}

.Links#content {
    padding: 10px 10px;
}

.Links table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    table-layout: fixed;
}

.Links table tr th i {
    padding: 0 10px;
    cursor: pointer;
}

.Links .item > td#trash {
    text-align: center;
}

.Links .item i {
    color: #000;
    opacity: 0.5;
    cursor: pointer;
    padding: 0 3px;
    font-size: 16px;
}

.Links i:hover {
    opacity: 1;
}